 .container{
    background: black;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container div{
    display: inline-block;
    background: black;
    color: wheat;
    line-height: 30px;
    font-size: 50px;
    width: 80px;
    height: 80px;
    margin: 5px;
    padding-top: 5px;
} 
.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: black; 
}
.footer a:hover {
    color: green;
}

